<div class="section">
	
	<a href="http://honey.is" target="_blank"><p class="evo-text-smaller-upper"><img src="<?php echo $view['assets']->getUrl('img/honey_logo.png') ?>" class="evo-ico-inline"> HONEY FEED</p></a>
	
	<?php
		$client_id = "9337b147fe743ac0f4bc";
		$client_secret = "8987fca6285f316ffcbacd7977c11f";

		$url = $this->container->getParameter('apiUrl')."users/".$_COOKIE['dash_user_id']."/profile.json";
		$api_key = $_COOKIE['api'];
		$api_header = array('x-wsse' => 'ApiKey="'.$api_key.'"');
		$response = Unirest\Request::get($url, $api_header);
		$user_profile = json_decode($response->raw_body, true)[0];

    $apiUrl = $this->container->getParameter('apiUrl');

		// set auth token from user profile
		$access_token = $user_profile['honey_uuid'];

    function putHoneyData($response, $apiUrl, $user_id, $view) {
      $user_id = $user_id;
      $access_token = $response->access_token;
      $refresh_token = $response->refresh_token;
      // echo "access token: ".$access_token;
      $apiUrl = $apiUrl;

      
      $headers = array(
          'Content-Type: application/json',
          'Authorization: Bearer '.$access_token
      );

      $url = "https://api.honey.is/1.0/account";

      $ch = curl_init();
      curl_setopt($ch, CURLOPT_URL, $url);
      curl_setopt($ch, CURLOPT_POST, false);
      curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
      curl_setopt($ch, CURLOPT_RETURNTRANSFER, true );
      curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);

      $result = curl_exec($ch);
      curl_close($ch);

      $result_arr = json_decode($result, true);
      // echo "<br><br><br>";
      // echo $access_token;
      // echo "<br><br><br>";
      // var_dump($result_arr);
      // echo "<br><br><br>";
      
      $username =  $result_arr['user']['username'];
      $avatar_uuid = $result_arr['user']['avatar_uuid'];
      $title = $result_arr['user']['job_title'];
      $office = $result_arr['user']['location'];

      echo "<div class=\"hidden honey-data-container\" data-honey-id=\"".$user_id."\" data-access-token=\"".$access_token."\" data-office=\"".$office."\"  data-title=\"".$title."\"  data-avatar=\"".$avatar_uuid."\"></div>";

      // set url for avatar
      $comment_avatar2 = substr($avatar_uuid, 0, 3);
      $comment_avatar3 = substr($avatar_uuid, -3);
      $comment_avatar4 = substr($avatar_uuid, 3, -3);
      $honey_avatar_url = "https://cdn.honey.is/avatar/".$comment_avatar2."/".$comment_avatar3."/".$comment_avatar4."_100x100.png";
      echo "<script>$('.avatar_img').css('background-image', 'url(\"".$honey_avatar_url."\")');</script>";


      // set info on our backend
      $honeydata_url = $apiUrl."users/".$_COOKIE['dash_user_id']."/honeydata";

      $api_key = $_COOKIE['api'];
      $api_header = array('x-wsse' => 'ApiKey="'.$api_key.'"');


      $honeydata_body = array(
        'profile_picture' => $avatar_uuid,
        'title' => $title,
        'office' => $office,
        'honey_user_uuid' => $access_token,
        'honey_user_id'=> $user_id,
        'honey_refresh_id'=> $refresh_token
      );


      //Unirest\Request::put($honeydata_url, $api_header, $honeydata_body);


      $data_json = json_encode($honeydata_body);
      //var_dump($data_json);

      $ch = curl_init();
      curl_setopt($ch, CURLOPT_URL, $honeydata_url);
      curl_setopt($ch, CURLOPT_HTTPHEADER, array('x-wsse' => 'ApiKey="'.$api_key.'"','Content-Type: application/json','Content-Length: ' . strlen($data_json)));
      curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PUT');
      curl_setopt($ch, CURLOPT_POSTFIELDS,$data_json);
      curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
      $response  = curl_exec($ch);
      // var_dump($response);
      curl_close($ch);



      $client_id = "9337b147fe743ac0f4bc";
      $client_secret = "8987fca6285f316ffcbacd7977c11f";
      validateAccessToken($access_token, $client_id, $client_secret, $view, $apiUrl);


    }



    function setToken($response, $apiUrl, $user_id, $view) {
      $response = $response;

      $user_id = $response->user_id;
      $access_token = $response->access_token;

      //echo $access_token;

      putHoneyData($response, $apiUrl, $user_id, $view);
      //getPosts();
    }

    function getNewToken($client_id, $client_secret, $view, $apiUrl, $user_id) {
      $client_id = $client_id;
      $client_secret = $client_secret;
      //echo "id: ".$client_id;
      //echo "id: ".$client_secret;      
      if(isset($_GET['code'])) {
        $code = $_GET['code'];
        //echo $client_id;
        $headers = array("Accept" => "application/x-www-form-urlencoded");
        $body =   utf8_encode("grant_type=authorization_code&client_id=".$client_id."&client_secret=".$client_secret."&authorization_code=".$code);
        $response = Unirest\Request::post("https://honey.is/oauth/token", $headers, $body)->body;
        //echo "1";
        //var_dump($response);
        setToken($response, $apiUrl, $user_id, $view);
      }
      else {
        $my_refresh_token = "6616a21928c3d2c7d5286867b4fc0f";
        $headers = array("Accept" => "application/x-www-form-urlencoded");
        $body =   utf8_encode("grant_type=refresh_token&client_id=".$client_id."&client_secret=".$client_secret."&refresh_token=".$my_refresh_token);
        //var_dump($body);
        $response = Unirest\Request::post("https://honey.is/oauth/token", $headers, $body)->body;
        //echo "2";
        //var_dump($response);
      }
      if(isset($response->error)) {
        if($response->error == "invalid_grant") {
          $code = $_GET['code'];
          $my_refresh_token = "79369a57bd380fe418430ec9cc318f";
          $headers = array("Accept" => "application/x-www-form-urlencoded");
          $body =   utf8_encode("grant_type=refresh_token&client_id=".$client_id."&client_secret=".$client_secret."&authorization_code=".$code."&refresh_token=".$my_refresh_token);
          $response = Unirest\Request::post("https://honey.is/oauth/token", $headers, $body)->body;
          //echo "3";
          //var_dump($response);
        }
        if($response->error == "invalid_client") {
          echo "<div class=\"authorize_honey evo-text-center\">";
          echo "<img src=\"".$view['assets']->getUrl('img/honey_logo.png')."\" width=\"30\">";
          echo "<h1 class=\"evo-header-small evo-text-center\">Get connected with Honey.</h1>";
          echo "<p class=\"evo-text-smaller evo-text-center\">Complete your dash profile by authorizing honey</p>";
          echo "<div class=\"evo-space evo-text-center\"></div>";
          echo "<a href=\"https://honey.is/oauth/authorize?response_type=code&client_id=".$client_id."\" class=\"evo-btn evo-btn-2\" style=\"padding: 8px 15px;\">Authorize</a>";
          echo "</div>";
        }
      }
    }


    function getPosts($honey) {
      if(isset($honey['posts'])) {
        foreach ($honey['posts'] as $post) {
          $comment_avatar = $post['author']['avatar_uuid'];

          if($comment_avatar) {
            $comment_avatar2 = substr($comment_avatar, 0, 3);
            $comment_avatar3 = substr($comment_avatar, -3);
            $comment_avatar4 = substr($comment_avatar, 3, -3);
            $photo_url = "https://cdn.honey.is/avatar/".$comment_avatar2."/".$comment_avatar3."/".$comment_avatar4."_100x100.png";
            echo "<div class=\"honey_item\">";
            echo "<div class=\"honey_photo\" style=\"background-image: url('$photo_url')\"></div>";
          } else {
            echo "<div class=\"honey_photo\" style=\"background-image: url('img/no-face.png')\"></div>";
          }
      
          echo "<div class=\"honey_title\"><p>
          <a href=\"https://honey.is/home/#post/".$post['id']."\ target=\"_blank\">";
          echo $post['title'];
          echo "</a></p>
          <div class=\"meta\"><p><span class=\"author\">";
          echo $post['author']['name'];
          echo "</span> ";
          // echo "to ";
          // echo $honey['posts'][$i]['topic_name'];
          $creation_date = $post['created_at'];
          // calculate the time from now to the post
          $now = time(); 
          $unix_time = strtotime($creation_date);
          $datediff = $now - $unix_time;
          $days_ago = floor($datediff/(60*60*24)).' days ago';
          echo $days_ago;

          echo "</p></div>";
          // end honey meta
          echo "</div>";
          // end honey title
          echo "</div>";
          // end honey item
        }
      }
    }


    function validateAccessToken($access_token, $client_id, $client_secret, $view, $apiUrl) {
      $headers = array(
        'Content-Type: application/json',
        'Authorization: Bearer '.$access_token
      );
      $url = "https://api.honey.is/group/37060/posts";
      $ch = curl_init();

      curl_setopt($ch, CURLOPT_URL, $url);
      curl_setopt($ch, CURLOPT_POST, false);
      curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
      curl_setopt($ch, CURLOPT_RETURNTRANSFER, true );
      curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);

      $result = curl_exec($ch);
      curl_close($ch);

      $honey = json_decode($result, true);

      if(isset($honey['posts'])) {
        getPosts($honey);
      } 
      else {
        if($honey['error_description'] == "Invalid access token") {
          //echo "invalid token";
         //$apiUrl = $this->container->getParameter('apiUrl');
          $user_id = $_COOKIE['dash_user_id'];
          getNewToken($client_id, $client_secret, $view, $apiUrl, $user_id);
        }
      }
    }

    if($access_token && $access_token != "null" && !isset($_GET['code'])) {
      //echo "you have an access token";
      validateAccessToken($access_token, $client_id, $client_secret, $view, $apiUrl);
    }
    else if(isset($_GET['code'])) {
      $apiUrl = $this->container->getParameter('apiUrl');
      $user_id = $_COOKIE['dash_user_id'];
      getNewToken($client_id, $client_secret, $view, $apiUrl, $user_id);
    } else {
      echo "<div class=\"authorize_honey evo-text-center\">";
      echo "<img src=\"".$view['assets']->getUrl('img/honey_logo.png')."\" width=\"30\">";
      echo "<h1 class=\"evo-header-small evo-text-center\">Get connected with Honey.</h1>";
      echo "<p class=\"evo-text-smaller evo-text-center\">Complete your dash profile by authorizing honey</p>";
      echo "<div class=\"evo-space evo-text-center\"></div>";
      echo "<a href=\"https://honey.is/oauth/authorize?response_type=code&client_id=".$client_id."\" class=\"evo-btn evo-btn-2\" style=\"padding: 8px 15px;\">Authorize</a>";
      echo "</div>";
    }
  ?>

</div>