{% extends 'base.html.twig' %}

{% block body %}

    THIS IS A PAGE THAT CAN BE SEEN WITHOUT BEING AUTHENTICATED.
    <br />
    <a href=" {{ login }}">Login</a>
    <br />

    <br />
{% endblock body %}

